MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookDTO" nillable="true" type="tns:BookDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookDTO" nillable="true" type="tns:ArrayOfBookDTO" />
  <xs:complexType name="BookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateORelease" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookDTO" nillable="true" type="tns:BookDTO" />
  <xs:complexType name="ArrayOfUserInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfoDTO" nillable="true" type="tns:UserInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfoDTO" nillable="true" type="tns:ArrayOfUserInfoDTO" />
  <xs:complexType name="UserInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DateORegistration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DebtCard" type="xs:long" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoDTO" nillable="true" type="tns:UserInfoDTO" />
  <xs:complexType name="ArrayOfCartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartDTO" nillable="true" type="tns:CartDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartDTO" nillable="true" type="tns:ArrayOfCartDTO" />
  <xs:complexType name="CartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOAdding" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserInfoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartDTO" nillable="true" type="tns:CartDTO" />
</xs:schema>