MVC/Connected Services/SOAPService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookBySearch" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutBook_InputMessage">
    <wsdl:part name="parameters" element="tns:PutBook" />
  </wsdl:message>
  <wsdl:message name="IService1_PutBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostBook_InputMessage">
    <wsdl:part name="parameters" element="tns:PostBook" />
  </wsdl:message>
  <wsdl:message name="IService1_PostBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PutUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_PutUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PostUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_PostUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutCart_InputMessage">
    <wsdl:part name="parameters" element="tns:PutCart" />
  </wsdl:message>
  <wsdl:message name="IService1_PutCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCart_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCart" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCart" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBooks" message="tns:IService1_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBooksResponse" message="tns:IService1_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookBySearch" message="tns:IService1_GetBookBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookBySearchResponse" message="tns:IService1_GetBookBySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookByID" message="tns:IService1_GetBookByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookByIDResponse" message="tns:IService1_GetBookByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutBook" message="tns:IService1_PutBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutBookResponse" message="tns:IService1_PutBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostBook" message="tns:IService1_PostBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostBookResponse" message="tns:IService1_PostBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBook" message="tns:IService1_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookResponse" message="tns:IService1_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserInfo" message="tns:IService1_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserInfoResponse" message="tns:IService1_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByID" message="tns:IService1_GetUserByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByIDResponse" message="tns:IService1_GetUserByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutUserInfo" message="tns:IService1_PutUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutUserInfoResponse" message="tns:IService1_PutUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostUserInfo" message="tns:IService1_PostUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostUserInfoResponse" message="tns:IService1_PostUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserInfo" message="tns:IService1_DeleteUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserInfoResponse" message="tns:IService1_DeleteUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCart" message="tns:IService1_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCartResponse" message="tns:IService1_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCartByID" message="tns:IService1_GetCartByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCartByIDResponse" message="tns:IService1_GetCartByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutCart" message="tns:IService1_PutCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutCartResponse" message="tns:IService1_PutCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostCart" message="tns:IService1_PostCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostCartResponse" message="tns:IService1_PostCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCart" message="tns:IService1_DeleteCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCartResponse" message="tns:IService1_DeleteCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookBySearch">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutBook">
      <soap:operation soapAction="http://tempuri.org/IService1/PutBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBook">
      <soap:operation soapAction="http://tempuri.org/IService1/PostBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/PutUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/PostUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCartByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutCart">
      <soap:operation soapAction="http://tempuri.org/IService1/PutCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCart">
      <soap:operation soapAction="http://tempuri.org/IService1/PostCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>